<section class="container">
    <mat-card >
            <div>
                <h1>Job Summary:</h1>
                <p> Your job as a mystery shopper is on a part time basis, you are to evaluate some stores and assess the quality of their
                 services discretely. You are to evaluate the stores staff/customers relationship, and also assess the efficiency of
                  their services. There is no charge to become a shopper and you do not need previous experience. You may conduct the
                   shopping alone or as a couple </p>
            <mat-card-header>
                    <mat-card-title> <h2><b>JOB DESCRIPTION</b></h2> </mat-card-title>
                    <mat-card-subtitle> <h3><b> Mystery/Secret shopper</b></h3></mat-card-subtitle>
            </mat-card-header>
            
            
            
            <p><b>Responsibilities:</b> </p>
                <ul>
                        <li> <ol>Honest</ol></li>
                            <li> <ol>	Pay attention to details</ol></li>
                                <li><ol>	Have you received Covid 19 vaccination? </ol></li>
                                    <li> <ol>	be discrete and able to engage your discretion.</ol> </li>
                                        <li><ol> 	Possess inter relational skills.</ol></li>
                                            <li><ol> 	Effective means of Transportation (Important)</ol></li>
                                                <li><ol>	make sure to observe Covid 19 precautions </ol></li>
                                                    <li><ol>    Have a means for record keeping (online or hand written)</ol></li>
                                                        <li><ol>     And finally be ready to act undercover.</ol></li>
                                                        
                </ul>
            </div>
            
            <div>
                <p>There is no limit to what you can earn if you are available to carry out this evaluation; I have records of people working with me who 
                can do 3 to 5 evaluations in a week and this doesn’t affect their day to day activities. And at the end of every week a comprehensive 
                report would be sent to me for record sake.</p>
                
            </div>
        <div>
            <button mat-button color="accent"  routerLink="/applyRecep"> Apply here</button>
        </div>

    </mat-card>

    

    
</section>
