<section class="container">
        <mat-card >
                <div>
                <p>Are you an experienced Personal Assistant or customer care with great motivations? </p>
                <mat-card-header>
                        <mat-card-title> <h2><b>JOB DESCRIPTION</b></h2> </mat-card-title>
                        <mat-card-subtitle> <h3><b> Personal Assistant</b></h3></mat-card-subtitle>
                </mat-card-header>
                
                
                
                <p><b>Responsibilities:</b> </p>
                    <ul>
                            <li> <ol>Answer phone calls received and direct them appropriately </ol></li>
                                <li> <ol>Record notes and messages for the employer</ol></li>
                                    <li><ol>Schedule and arrange meetings and conferences </ol></li>
                                        <li> <ol>Manage travel arrangements and itineraries on behalf of the employer</ol> </li>
                                            <li><ol> Perform as a liaison between the employer and household staff as required </ol></li>
                                                <li><ol> Act as the first point of contact for the employer as necessary</ol></li>
                                                    <li><ol>Manage the employer's calendar and appointment scheduling </ol></li>
                                                        <li><ol> Read and write correspondence in mail or email form </ol></li>
                                                            
                    </ul>
                </div>
                
                <div>
                <p><b>Qualifications for Personal Assistant</b></p>    
                <ul>
                    <li><ol> A certificate from a secretarial school preferred</ol></li>
                        <li><ol>Proven experience working as a personal assistant required</ol></li>
                            <li><ol>Proficient in computer technology especially Microsoft Office applications</ol></li>
                                <li><ol>Excellent verbal and written communication skills</ol></li>
                                    <li><ol>Strong customer service and social skills</ol></li>
                                        <li><ol> Exceptional organizational and time-management skills</ol></li>
                                            <li><ol>Follows instructions clearly and accurately within a timely fashion </ol></li>
                                                <li><ol>Proactive and enthusiastic about delivering positive results</ol></li>
                                                    <li><ol>Able to sit, walk, stand for long hours at a time</ol>
                    </li>
                </ul>
                <p>The above description covers the principal duties and responsibilities of the job. The description shall not, however, <br/>
                be construed as a complete listing all miscellaneous, incidental or similar duties which may be require from day to day.</p>
                    
                    
                    
            </div>
            <div>
                <button mat-button color="accent"  routerLink="/applyRecep"> Apply here</button>
            </div>
    
        </mat-card>
    
        
    
        
    </section>
    