<section class="container">
    <mat-card >
            <div>
            <p>Are you an experienced truck (trailer) driver ?</p>
            <mat-card-header>
                    <mat-card-title> <h2><b>JOB DESCRIPTION</b></h2> </mat-card-title>
                    <mat-card-subtitle> <h3><b> Truck Driver</b></h3></mat-card-subtitle>
            </mat-card-header>
            
            
            <p>Description: Responsible for transporting goods from one place to another using heavy or tractor-trailer trucks while 
                performing duties in a safe and efficient manner.</p>
            
            <p><b>Qualifications & Criteria:</b> </p>
                <p>Experience of minimum of three (3) recent years driving long haul trucks, out of which at least 
                one (1) year can be verified by reference letter (EVL) signed and stamped by a current or former employer. </p>
                <ul>
                        <li> <ol>Fluent English. </ol></li>
                            <li> <ol>Have a valid CDL driving license (or similar in the local country) since at least three (3) years ago.</ol></li>
                                <li><ol>No Convictions in Criminal Record. </ol></li>
                                    <li> <ol>No current License Suspension or Revocation</ol> </li>
                                        <li><ol> No serious or disqualifying traffic violation in the past five (5) years </ol></li>
                                            <li><ol> No preventable accidents involving fatality, bodily injuries or disabling damage to motor vehicle in (5) years</ol></li>
                                                <li><ol>Completion of FULL background check </ol></li>
                                                    <li><ol> Comply with Department of Transportation Drug and alcohol regulations </ol></li>
                                                        <li><ol>Minimum 23 years old</ol></li>
                </ul>
            </div>
            
            <div>
            <p><b>Essential Functions of Truck Driver</b></p>    
            <ul>
                <li>    <ol> Maintain accurate records and logs according to DOT regulations</ol></li>
                <li>  <ol>Follow supervisor’s instructions on material pick up and delivery procedures</ol></li>
                    <li>   <ol>Operate truck safely and apply knowledge of commercial driving regulations and skill in maneuvering vehicle in difficult situations</ol></li>
                        <li>   <ol>May be required to drive combinations with variety of trailers such as live bottom, end dump, pups, bottom dump, side dump, dry van, flatbed, <br/>
                            full, depending on each company requirements. Must be able to hook and un-hook these combinations properly.</ol></li>
                            <li>  <ol> Responsible for proper loading and securing of freight. Assist in loading and unloading as required. </ol></li>
                                <li><ol> Perform vehicle inspections and preventative maintenance before, during and after trips and record any defects they find; <br/>
                            responsible for brake adjustments, tire chain-ups and minor repairs as needed while on the road. </ol></li>
                            <li><ol> Reports serious mechanical problems to the appropriate personnel </ol></li>
                                <li><ol>Keep their truck, and associated equipment, clean and in good working order • Follow schedule to ensure timely delivery </ol></li>
                                    <li><ol>Ability to execute maximum force to lift, push, pull or carry objects weighting up to 50 lbs.</ol>
                </li>
            </ul>
            <p>The above description covers the principal duties and responsibilities of the job. The description shall not, however, <br/>
            be construed as a complete listing all miscellaneous, incidental or similar duties which may be require from day to day.</p>
                
                
                
        </div>
        <div>
            <button mat-button color="accent"  routerLink="/apply"> Apply here</button>
        </div>

    </mat-card>

    

    
</section>
