<section class="container">
    <div fxLayoutAlign="center"><h1><b>Your Job Reviews</b></h1></div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="30%" fxFlex.xs="100%" >
            <mat-card [routerLink]="['/vacancy']" class="card-shadow" style="background-color: rgb(161, 77, 77); color: white">
                <mat-card-header>                    
                <mat-card-title>Vacant Position</mat-card-title>
                <mat-card-subtitle style="color: yellow">Truck Driver</mat-card-subtitle>
            </mat-card-header>
                <mat-card-content>
                    Are you an experienced Truck Driver? This Job is for you
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="30%" fxFlex.xs="100%">
            <mat-card [routerLink]="['/applyvacant']" class="card-shadow">
                <mat-card-header>                    
                <mat-card-title>Vacant Position</mat-card-title>
                <mat-card-subtitle style="color: rgb(161, 77, 77)">Personal Assistant/ Customer care</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Are you an experienced Personal Assistant? This Job is for you
                </mat-card-content>
            </mat-card>
        </div>

        <!--<div fxFlex="30%" fxFlex.xs="100%">
            <mat-card routerLink="/vacancy-digital" class="card-shadow" style="background-color: rgb(161, 77, 77); color: white">
                <mat-card-header>                    
                <mat-card-title>Vacant Position</mat-card-title>
                <mat-card-subtitle style="color: yellow">Digital Marketer</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Are you an experienced Digital Marketer? This Job is for you
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="30%" fxFlex.xs="100%" >
            <mat-card routerLink="/vacancy-shopper" class="card-shadow">
                <mat-card-header>                    
                <mat-card-title>Vacant Position</mat-card-title>
                <mat-card-subtitle style="color: rgb(161, 77, 77)"> Mystery/Secret shopper</mat-card-subtitle>
            </mat-card-header>
                <mat-card-content>
                    Are you an experienced Mystery/Secret shopper? This Job is for you
                </mat-card-content>
            </mat-card>
        </div>-->

        <div fxFlex="30%" fxFlex.xs="100%">
            <mat-card routerLink="/applymain" class="card-shadow" style="background-color: rgb(161, 77, 77); color: white">
                <mat-card-header>                    
                <mat-card-title>Vacant Position</mat-card-title>
                <mat-card-subtitle style="color: yellow">Maintenance Manager/Supervisor</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Are you an experienced Maintenance Manager? This Job is for you
                </mat-card-content>
            </mat-card>
        </div>

        

        
    </div>


</section>