<section class="container">
    <mat-card >
            <div>
                <p><b>Job Type</b>: Fulltime</p>
                <p><b>Hours</b>: 25 hours, 5 days a week</p>
            <mat-card-header>
                    <mat-card-title> <h2><b>JOB DESCRIPTION</b></h2> </mat-card-title>
                    <mat-card-subtitle> <h3><b> Digital Marketer</b></h3></mat-card-subtitle>
            </mat-card-header>
                            
            <p><b>Responsibilities:</b> </p>
                <ul>
                        <li> <ol>Analyze digital data to draw key recommendations aroun website optomization.</ol></li>
                            <li> <ol>	Conduct Social media audits to ensure practices are being used</ol></li>
                                <li><ol>	Maintain digital dashboard of several different accounts </ol></li>
                                    <li> <ol>	Coordinate with sales team to create marketing campaigns.</ol> </li>
                                                        
                </ul>
            </div>
            
            <div>
                <p>The above description covers the principal duties and responsibilities of the job. The description shall not, however, <br/>
                    be construed as a complete listing all miscellaneous, incidental or similar duties which may be require from day to day.</p>
                
            </div>
        <div>
            <button mat-button color="accent"  routerLink="/applyRecep"> Apply here</button>
        </div>

    </mat-card>

    

    
</section>
