<section class="container">
        <mat-card >
                <div>
                    <h1>Job Summary</h1>
                <p> As a Fleet Maintenance Manager/Supervisor, you will use your excellent communication, organization, and multitasking 
                    skills to engage your diesel technicians, maintain good morale among your team, and keep your customers happy.</p>
                        
                <p> You will also play an integral role in the hiring, training, and ongoing development of vehicle maintenance
                    technicians to ensure that our highly skilled workforce is able to meet customer expectations. 
                    This is a great opportunity for anyone who wants to strengthen their leadership skills and take their
                    career to the next level in a supportive environment and with a company devoted to training successful managers.</p>

                <mat-card-header>
                        <mat-card-title> <h2><b>JOB DESCRIPTION</b></h2> </mat-card-title>
                        <mat-card-subtitle> <h3><b> Fleet Maintenance Manager/Supervisor</b></h3></mat-card-subtitle>
                </mat-card-header>
                                
                <p><b>Responsibilities:</b> </p>
                    <ul>
                            <li> <ol>Coordinate, schedule, and audit vehicle maintenance repairs to include preventative, mechanical and electrical repair to tractors, trucks and trailers.</ol></li>
                                <li> <ol>Prioritize and assign work to meet customers’ needs</ol></li>
                                    <li><ol>Ensure quality, compliance, and safety of company’s assets </ol></li>
                                        <li> <ol>Control repair, inventory, and labor costs</ol> </li>
                                            <li><ol> Coach and mentor technicians and CSRs</ol></li>
                                                <li><ol> Monitor associate work levels</ol></li>
                                                    <li><ol>Manage facilities, assuring a clean and safe working environment </ol></li>
                                                        <li><ol> Manage facilities, assuring a clean and safe working environment</ol></li>
                                                            
                    </ul>
                </div>
                
                <div>
                <p><b>Qualifications:</b></p>    
                <ul>
                    <li><ol>2-5 years of fleet maintenance management experience preferred, or at least 3 years of team management in an environment with strong operational metrics.</ol></li>
                        <li><ol>Associates or Tech School degree preferred</ol></li>
                            <li><ol>High school diploma or equivalent required</ol></li>
                                <li><ol>Strong customer service and organizational skills required</ol></li>
                                    <li><ol>Valid driver’s license required</ol></li>
                                        <li><ol> Proficiency with computers including Microsoft Office and web-based applications preferred</ol></li>
                                            <li><ol>Must know how to budget & manage a P&L +2 years</ol></li>
                                                <li><ol>Lean management and Six Sigma background – 2+ years’ experience</ol></li>
                                                    <li><ol>Labor relations / union and collective bargaining experience – 2+ years’ experience</ol>
                    </li>
                </ul>
                <p>The above description covers the principal duties and responsibilities of the job. The description shall not, however, <br/>
                be construed as a complete listing all miscellaneous, incidental or similar duties which may be require from day to day.</p>
                    
                    
                    
            </div>
            <div>
                <button mat-button color="accent"  routerLink="/applyRecep"> Apply here</button>
            </div>
    
        </mat-card>
    
        
    
        
    </section>
    